.theme-default-content:not(.custom) {
  max-width: none;
}

.theme-default-content:not(.custom) table thead img {
  height: 50px;
  width: 50px;
}

.theme-default-content tr:nth-child(2n) {
  background-color: inherit;
}

.hero {
  display: none;
}

.footer {
  display: none;
}